<!doctype html>
<head>
    <title>🤖 DictionAIry</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <meta charset="UTF-8">
</head>

<body>
    <h1>🤖 Diction<span style="color: #30bbe6">AI</span>ry</h1>
    <h3>📖 A semantics-first approach to language education.</h3>
    <h4>☀️ Word of the Day: <a href='/learn/cornucopia'>Cornucopia</a></h4>

    <form action="/search" method="post">
        <label for="word">🔎 Search:</label>
        <input type="text" id="word" name="word"><br>
        <input type="submit" value="📤 Submit">
    </form>

    <p></p>
    <form action="/test_multi" method="post">
        <label for="test_words">✏️ Test:</label>
        <input type="text" id="test_words" name="test_words"><br>
        <input type="submit" value="📤 Submit">
    </form>
</body>
