<!doctype html>
<head>
    <title>🤖 DictionAIry - {{ word_info['word'] }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <meta charset="UTF-8">
</head>

<body>
    <h1>{{ word_info['word'] }}</h1>
    <p style="font-size: x-large"><i>{{ word_info['mw'] }}</i> &emsp; <audio controls><source src="{{ word_info['audio_url'] }}"/></audio></p>
    {% set count = namespace(value=0) %}
    {% for hom in word_info['hom'] %}
    <h4>{{ hom['fl'] }}</h4>
        <ol>
            {% for d in hom['shortdef'] %}
            <li>{{ d }}
                <ul>
                    <li>🤖 {{ word_info['examples'][count.value] }}</li>
                    {% set count.value = count.value + 1 %}
                </ul>
            </li>
            {% endfor %}
        </ol>
    {% endfor %}

    <p></p>
    <a href="/learn/{{ word_info['word'] }}"><button>🤖 Generate new examples</button></a>
    <a href="/test/{{ word_info['word'] }}"><button>📝 Test your knowledge</button></a>
    <a href="/"><button>🏠 Home</button></a>
</body>
