<!doctype html>
<head>
    <title>🤖 DictionAIry - Test</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <meta charset="UTF-8">
</head>

<body>
    <h1>📝 Diction<span style="color: #30bbe6">AI</span>ry Test</h1>

    <form action="/result_multi/{{ ','.join(test_words) }}" method="post">
        <b>1. {{ test_words[0] }}</b><br>
        <label for="definition_0">✏️ Definition:</label>
        <input type="text" id="definition_0" name="definition_0" style="width: 600px;">
        <label for="example_0">✏️ Example:</label>
        <input type="text" id="example_0" name="example_0" style="width: 600px;">
        <br>

        <b>2. {{ test_words[1] }}</b><br>
        <label for="definition_1">✏️ Definition:</label>
        <input type="text" id="definition_1" name="definition_1" style="width: 600px;">
        <label for="example_1">✏️ Example:</label>
        <input type="text" id="example_1" name="example_1" style="width: 600px;">
        <br>

        <b>3. {{ test_words[2] }}</b><br>
        <label for="definition_2">✏️ Definition:</label>
        <input type="text" id="definition_2" name="definition_2" style="width: 600px;">
        <label for="example_2">✏️ Example:</label>
        <input type="text" id="example_2" name="example_2" style="width: 600px;">
        <br>

        <b>4. {{ test_words[3] }}</b><br>
        <label for="definition_3">✏️ Definition:</label>
        <input type="text" id="definition_3" name="definition_3" style="width: 600px;">
        <label for="example_3">✏️ Example:</label>
        <input type="text" id="example_3" name="example_3" style="width: 600px;">
        <br>

        <b>5. {{ test_words[4] }}</b><br>
        <label for="definition_4">✏️ Definition:</label>
        <input type="text" id="definition_4" name="definition_4" style="width: 600px;">
        <label for="example_4">✏️ Example:</label>
        <input type="text" id="example_4" name="example_4" style="width: 600px;">
        <br>

        <input type="submit" value="📤 Submit">
    </form>

    <p></p>
    <a href="/"><button>🏠 Home</button></a>
</body>